

#grid {
	display: grid;
	flex: 2;
	border: 1px solid gray;
  box-shadow: 0px 0px 14px 3px rgba(51,51,51,1);
	justify-content: center;
	align-items: center;
	height: 600px;
	width: 600px;
}

#appContainer{
	display: flex;
	align-items: center;
	justify-content: center;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1145px;
	height: 729px;
	border-radius: 10px;
	border: 2px solid hsla(360, 99%, 18%, 1);
	background: hsla(360, 99%, 34%, 1); 
  box-shadow: 0px 0px 14px 3px rgba(51,51,51,1);
}


html, body {
	height: 100%;
	background: gray; 
}

.gridSquare {
	border: '';
	background: hsla(332, 19%, 85%, 1);
	height: 100%;
}

.padding {
	flex: 1;
}

.containerLow {
	height: 33%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle {
  height: 150px;
  width: 150px;
  background-color: #DCD9CD;
  border-radius: 50%;
	border: 1px solid gray;
  box-shadow: 0px 0px 14px 3px rgba(51,51,51,1);
}

.title {
	text-align: center;
	color: hsla(27, 48%, 46%, 1); 
  text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5), 2px -2px 0 rgba(255, 255, 255, 0.9); 
}

label, p {
	color: hsla(27, 48%, 75%, 1);
  text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
}

.options {
	height: 433px;
	padding: 10px;
}

#colorBox {
	border: 1px solid black;
	background: hsla(332, 19%, 85%, 1);
	border-radius: 10px;
	
}

#defaultColors {
	display: grid;
	grid-template-columns: 50% 1fr;
}

#reset{
	border-color: gray;
	margin: 5px;	
	border-radius: 10px;
	height: 30px;
	width: 100%;
}

.color {
	border-color: gray;
	margin: 3px; 
	border-radius: 10px;
	height: 20px;
}

.color:hover, #reset:hover {
	box-shadow: 0 1px #666;
}

.color:active, #reset:active {
	box-shadow: 0 1px #666;
  transform: translateY(1px) translateX(1px);
}

#color1 {
	background-color: hsla(0, 0%, 0%, 1);
}

#color2 {
	background-color: hsla(37, 82%, 50%, 1);
}

#color3 {
	background-color: hsla(104, 77%, 50%, 1);
}

#color4 {
	background-color: hsla(178, 81%, 50%, 1);
}

#color5 {
	background-color: hsla(309, 100%, 72%, 1);
}

#color6 {
	background-color: hsla(55, 100%, 50%, 1);
}

#color7 {
	background-color: hsla(355, 81%, 50%, 1);
}

#color8 {
	background-color: hsla(287, 80%, 39%, 1);
}

#colorPicker {
	width: 90%;
	height: 22px;
	margin: 5px;

}

@font-face {
	font-family: "heart";
	src: url("AlwaysInMyHeart.ttf");
}
#etchTitle {
	font-family: "heart";
}
